@model BNP.SCG.Web.Models.Location

<div class="app-content container center-layout mt-2">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">

            <!-- Basic form layout section start -->
            <section id="basic-form-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <form id="myForm" method="post">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-Location"></i> ข้อมูลสถานที่
                                            </h4>

                                            <div class="form-group">
                                                <label>ชื่อสถานที่ <span class="required">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="name" type="text" class="form-control mb-1"
                                                        data-validation-required-message="กรุณากรอกข้อมูล"
                                                        aria-invalid="true">
                                                    <div class="help-block"></div>
                                                </div>
                                            </div>
                                            <div class="controls">
                                                <input asp-for="Status_sw" type="text" readonly id="SW_input" class="form-control mb-1"
                                                       data-validation-required-message="กรุณากรอกข้อมูล"
                                                       aria-invalid="true">
                                                <div class="help-block"></div>
                                            </div>

                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="mySwitch" hidden>
                                                <label class="custom-control-label" for="mySwitch">เปิด / ปิด สถานที่นี้</label>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-success">
                                                <i class="la la-check-square-o"></i> บันทึก
                                            </button>
                                            <a asp-action="Location" asp-controller="MasterData" 
                                                class="btn btn-danger mr-1">
                                                <i class="ft-x"></i> ยกเลิก
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Basic form layout section end -->
        </div>
    </div>
</div>

@section Scripts {
    @* Sw_input *@
    <script>
        $(document).ready(function () {
            var initialValue = $('#SW_input').val();
            if (initialValue == "ON") {
                $('#mySwitch').prop('checked', true);
            } else {
                $('#mySwitch').prop('checked', false);
            }

            $('#mySwitch').change(function () {
                if ($(this).is(':checked')) {
                    $('#SW_input').val("ON");
                } else {
                    $('#SW_input').val("OFF");
                }
            });

            $('#SW_input').on('input', function () {
                var inputValue = $(this).val();
                if (inputValue == "ON") {
                    $('#mySwitch').prop('checked', true);
                } else if (inputValue == "OFF") {
                    $('#mySwitch').prop('checked', false);
                }
            });
        });
    </script>
}