@model BNP.SCG.Web.Models.Category

<div class="app-content container center-layout mt-2">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">

            <!-- Basic form layout section start -->
            <section id="basic-form-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <form id="myForm" method="post">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-category"></i> ข้อมูลหมวดหมู่
                                            </h4>

                                            <div class="form-group">
                                                <label>ชื่อหมวดหมู่ <span class="required">*</span></label>
                                                <div class="controls">
                                                    <input asp-for="name" type="text" class="form-control mb-1"
                                                        data-validation-required-message="กรุณากรอกข้อมูล"
                                                        aria-invalid="true">
                                                    <div class="help-block"></div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>ส่วนต่างห้ามเกินกี่เปอร์เซ็น (%) <span class="required">*</span></label>
                                                <div class="controls">
                                                    <input type="text" min="0" max="100" asp-for="fix_percentage_diff"
                                                           class="form-control"
                                                           data-validation-regex-regex="\d{0,9}(\.\d{1,4})?"
                                                           data-validation-regex-message="เฉพาะตัวเลขและทศนิยมไม่เกิน 4 ตำแหน่ง"
                                                           data-validation-required-message="กรุณากรอกข้อมูล"
                                                           data-validation-min-message="ต้องไม่น้อยกว่า 0"
                                                           data-validation-max-message="ต้องไม่มากกว่า 100"
                                                           aria-invalid="true">
                                                    <div class="help-block"></div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-success">
                                                <i class="la la-check-square-o"></i> บันทึก
                                            </button>
                                            <a asp-action="Category" asp-controller="MasterData"
                                                class="btn btn-danger mr-1">
                                                <i class="ft-x"></i> ยกเลิก
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Basic form layout section end -->
        </div>
    </div>
</div>
